{% assign locale = site.data.header[page.language] %}
<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="header-logo">
        <div class="site-logo">
          <a class="site-title" href="/{{ page.language | prepend: site.baseurl }}/"><img src="/media/ccy_logo.jpg" /></a>
        </div>
      </div>

      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <svg viewBox="0 0 18 15">
            <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
            <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
            <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
          </svg>
        </a>

        {% assign locale_pages = site.pages | where: 'language', page.language %}
        {% assign main_header_pages = locale_pages | where: 'header', 'true' %}
        {% assign dropdown_header_pages = locale_pages | where: 'dropdown', 'true' %}
        <ul class="mobile-nav-menu visually-hidden">
          {% for p in dropdown_header_pages %}
            {% if p.title %}
              <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
          {% for p in dropdown_header_pages %}
            {% if p.title %}
              <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a class="page-link" href="/en">English</a></li>
          <li><a class="page-link" href="/gr">Ελληνικά</a></li>
          <li><a class="page-link" href="/tr">Türkçe</a></li>
        </ul>
        <ul class="nav-menu">
          {% for p in main_header_pages %}
          {% if p.title %}
            <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
          {% endfor %}
          <li class="dropdown-menu dropdown">
            <a href="javascript:;">{{locale.the_project}}</a>
            <ul class="visually-hidden">
              {% for p in dropdown_header_pages %}
                {% if p.title %}
                  <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown-menu dropdown">
            <a href="javascript:;">{{locale.languages}}</a>
            <ul class="visually-hidden">
              <li><a class="page-link" href="/en">English</a></li>
              <li><a class="page-link" href="/gr">Ελληνικά</a></li>
              <li><a class="page-link" href="/tr">Türkçe</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
