{% assign locale = site.data.home[page.language] %}

{% include home-video.html %}
{% include home-map.html %}
{% include instafeed.html %}
{% include recent-posts.html %}
{% include social-media-tiles.html %}
{% include twitter.html %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src='{{site.baseurl}}/js/home_{{page.language}}.js'></script>