{% assign posts = site.posts | where: 'language', page.language %}
{% assign categories = site.post_categories %}

<div class="post-sidebar">
  <div class="recent-posts">
    <h2><a href="/{{page.language}}/posts/">Recent Posts</a></h2>
    <ul>
    {% for post in posts limit: 5 %}
      <li>
      <a href='{{post.url}}'>
        <span class="sidebar-post-title">{{post.title}}</span><br/>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br/>
        <span class="post-meta">{{post.author}}</span>
      </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="post-categories">
    <h2>Categories</h2>
    <ul>
    {% for category in categories %}
      <li><a href="/{{page.language}}/posts/{{ category | slugify }}">{{category}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>