<div class="social-media-section section">
  <h1 class="section-header"><i class="fa fa-users"></i>{{locale.social_media_title}}</h1>
  <div id="social-media-tiles" class="tile-grid container">
    <div class="tile">
      <a href="javascript:;" id="twitter-open-modal-link">
        <div class="tile-icon">
          <i class="fa fa-twitter social-media-icon"></i>
        </div>
        <div class="tile-text">
          {{locale.twitter_call_to_action}}
        </div>
      </a>
    </div>
    <div class="tile">
      <a target="_blank" href="www.facebook.com/circumnavigatingCY">
        <div class="tile-icon">
          <i class="fa fa-facebook social-media-icon"></i>
        </div>
         <div class="tile-text">
          {{locale.facebook_call_to_action}}
        </div>
      </a>
    </div>
    <div class="tile">
      <a target="_blank" href="https://www.indiegogo.com/projects/circumnavigating-cyprus-on-foot">
        <div class="tile-icon">
          <img class="social-media-icon" src="/media/igg.png"/>
        </div>
        <div class="tile-text">
          {{locale.indiegogo_call_to_action}}
        </div>
      </a>
    </div>
  </div>
</div>
