{% assign locale = site.data.team[page.language] %}

<div class="page-content">
  <div class="team-profile-wrapper section container">
    <h1 class="team-title">{{ locale.team_title }}</h1>
    <ul class="team-profiles">
    {% for bio in locale.bios %}
      <li>
        <div class="member-profile-image"><img src="{{bio.image}}"/></div>
        <div class="member-profile-text">
          <h2 class="member-name">{{bio.name}}</h2>
          <p>{{bio.text}}</p>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>