.about-page {
  h1 {
    font-weight: 600;
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    text-align: left;
    font-weight: 600;
  }
  p {
    text-align: left;
    line-height: 1.6;
  }
  img {
    display: block;
    height: 400px;
    margin: 0 auto;
  }
  .about-section {
    @include media($medium) {
      @include span-columns(3 of 4);
    }
    box-sizing: border-box;
  }

  .post-sidebar {
    @include media(max-width $medium) {
      text-align: center;
    }
    @include media(min-width $medium) {
      @include span-columns(1 of 4);
    }
    box-sizing: border-box;
  }
}