.map-section {
  #map {
    height: 400px;
    width: 100%;
    position: relative;
  }
}

.leaflet-popup-content{
  width: auto;
  max-height:250px;
  overflow-y: scroll;
}

.leaflet-control-layers {
  text-align: left;
}

.map-popup img {
  max-height: 130px;
}
.page-content {
  padding-top: 0;
}

.home {
  padding: 30px 0;
}

#video {
  height: 400px;
  overflow: hidden;
  position: relative;
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .video-overlay {
    position: relative;
    z-index: 100000;
    color: #FFF;
    background: rgba(250, 250, 250, 0.6);
    padding: 2em 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50em;
    margin: 0 auto;
    h1.header {
      font-size: 2.8em;
      font-weight: 600;
      color: #D1761D;
      text-transform: uppercase;
    }
    h2.sub-header {
      font-weight: 600;
      color: #005745;
      text-transform: uppercase;
    }
    @include media(min-width $medium) {
      border: 7px solid #FFF;
      width: 70%;
    }
  }
}
#social-media-tiles {
  .tile {
    padding: em(10);
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    a {
      color: initial;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    @include media(min-width $medium max-width $large) {
      margin-top: em(10);
    }

    @include media(min-width $large) {
      @include span-columns(4 of 12);
      @include omega(4n);
    }
    .tile-icon {
      i.social-media-icon {
        font-size: em(40);
      }
      img.social-media-icon {
        height: em(40);
      }
    }
    .tile-text {
      margin-top: em(10);
    }
    min-height: em(100);
    background-color: #FDFDFD;
  }
}

#recent-post-tiles {
  .tile {
    position: relative;
    padding: em(10);
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    min-height: em(100);
    // @include media(min-width $large) {
    //   @include span-columns(4 of 12);
    //   @include omega(3n);
    // }
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      &:hover, &:focus {
        text-decoration: none;
      }
      .front {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        .overlay {
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        .tile-text {
          position: absolute;
          z-index: 10;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          h3 {
            font-size: em(20);
            color: #FFF;
          }
          p {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }

  }
}

.tile-grid {
  box-sizing: border-box;
  .tile {
    box-sizing: border-box;
    margin-top: em(10);
  }
}
#recent-post-tiles, #instagram-feed {
  .owl-stage-outer {
    z-index: 1000;
  }
  @include media($medium) {
    .owl-nav {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .fa {
        font-size: em(40);
      }
      .owl-prev {
        left: -15px;
        position: absolute;
        top: 30%;
      }
      .owl-next {
        right: -15px;
        position: absolute;
        top: 30%;
      }
    }
  }
}
.no-scroll {
  overflow: hidden;
}
.cy-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10000000000;
  background: rgba(0, 0, 0, 0.4);
  overflow: scroll;
  .modal-selection {
    .modal-title {
      display: inline-block;
      float: left
    }
    .modal-close {
      display: inline-block;
      float: right;
    }
  }
  .inner-content {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    background-color: #DEDEDE;
    border-radius: 10px;
  }
}
.home {
  .page-content {
    margin: 0;
  }
}

.instagram-logo {
  font-size: em(30);
}