.container {
  @include outer-container();
  padding: 0 40px;
  box-sizing: border-box;
  // .about-page &, .team-page & {
  //   max-width: 800px;
  // }
}

ul, ol {
  margin: 0;
}

@mixin focus-ring {
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.section {
  padding: em(20) 0;
  text-align: center;
  // border-bottom: 2px solid #DDD;
}
.section-header {
  i {
    margin-right: em(5);
  }
}

.page-content {
  margin: em(10);
}

.center-align {
  text-align: center;
}
.row {
  display: block;
  @include clearfix;
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  body:hover & {
    a, input, button {
      display: none !important;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}


/**
 * Site header
 */

.site-header {
  border-bottom: 1px solid $grey-color-light;
  background-color: #FDFDFD;
  position: relative;
  height: 80px;
  .header-logo {
    display: inline-block;
    position: absolute;
    z-index: 100000000;
    left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    .site-title {
      img {
        height: 120px;
      }
    }
    @include media(min-width $medium){
      left: 100px;
    }
  }
  .site-nav {
    .menu-icon {
      right: 15px;
      top: 20px;
      position: absolute;
      &:hover, &:focus, &.active {
        @include focus-ring;
      }
      svg {
        height: 40px;
      }
    }
    .mobile-nav-menu {
      margin: 0;
      right: 0;
      left: 0;
      top: 70px;
      padding-top: 40px;
      text-align: center;
      position: absolute;
      z-index: 10000000;
      background-color: #FFF;
      a:hover, a:focus {
        text-decoration: none;
      }
      li {
        line-height: 3em;
        border-bottom: 1px solid #DEDEDE;
        transition: background-color 0.2s, color 0.2s, font-weight 0.2s;
        &:hover, &:focus {
          background-color: #D1761D;
          color: #FFF;
          font-weight: 600;

        }
        a:last-child & {
          border-top: 1px solid #DEDEDE;
        }
        a:last-child & {
          border-bottom: 0;
        }
      }
    }
  }
  @include media (max-width $medium) {
    .nav-menu {
      display: none;
    }
  }

  @include media (min-width $medium) {
    height: 70px;
    .mobile-nav-menu {
      display: none;
    }
    .menu-icon {
      display: none;
    }
    .site-nav {
      float: right;
      ul {
        @include clearfix;
        margin-left: 0;
      }
      .nav-menu {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: inline-block;
          margin: 0;
          padding: 0;
          line-height: 70px;
        }
        & > li {
          padding-right: em(20);
          padding-left: em(20);
        }
      }
      .dropdown-menu {
        position: relative;
        ul {
          position: absolute;
          display: block;
          z-index: 100;
          width: em(100);
          left: 0;
          li {
            display: block;
            line-height: em(30);
            width: 100%;
            text-align: center;
            background-color: #FDFDFD;
          }
        }
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media(max-width $medium) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media(max-width $site-max-width-mobile) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media(max-width $medium) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media(max-width $medium) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media(max-width $medium) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media(max-width $medium) {
      font-size: 18px;
    }
  }
}

body.post-page {
  .site-header {
    .header-logo {
      img {
        height: 70px;
      }
    }
  }
}
body {
  .site-header {
    &.secondary {
      .header-logo {
        img {
          height: 70px;
        }
      }
    }
  }
}


