.container {
  @include outer-container();
  padding: 0 40px;
}

.page-content {
  margin: em(10);
}

.center-align {
  text-align: center;
}
.row {
  display: block;
  @include clearfix;
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  body:hover & {
    a, input, button {
      display: none !important;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}


/**
 * Site header
 */

 $header-height: 80px;
 $header-height-big: 120px;

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $header-height;
  background-color: #FDFDFD;

  // Positioning context for the mobile navigation icon
  position: relative;
  .header-logo {
    .site-logo {
      float: left;
      line-height: 100%;
      display: inline-block;
      img {
        height: $header-height;
      }
    }
  }
  .site-title {
    display: inline-block;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    line-height: $header-height;
    &:hover, &:focus {
      text-decoration: none;
    }
    &, &:visited {
      color: $grey-color-dark;
    }
  }
  .site-nav {
    float: right;
    line-height: $header-height;
    ul {
      @include clearfix;
      margin-left: 0;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }
    .nav-menu {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      & > li {
        padding-right: em(20);
        padding-left: em(20);
      }
    }
    .dropdown-menu {
      position: relative;
      ul {
        position: absolute;
        display: block;
        z-index: 100;
        width: em(100);
        left: 0;
        li {
          display: block;
          height: em(30);
          line-height: em(30);
          width: 100%;
          text-align: center;
          background-color: #FDFDFD;
        }
      }
    }
  }
  &.non-scrolled {
    min-height: $header-height-big;
    .site-logo {
      img {
        height: $header-height-big;
      }
    }
    .site-title {
      line-height: $header-height-big;
    }
    .site-nav {
      line-height: $header-height-big;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media(max-width $medium) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media(max-width $site-max-width-mobile) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media(max-width $medium) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media(max-width $medium) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media(max-width $medium) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media(max-width $medium) {
      font-size: 18px;
    }
  }
}
