.post-wrapper {
  margin-top: em(20);
}
.post-page {
  .post {
    box-sizing: border-box;
    @include media(min-width $medium) {
      @include span-columns(9 of 12);
    }
    p {
      img {
        max-height: em(360);
        display: block;
        margin: 0 auto;
      }
    }
  }

  .post-sidebar {
    box-sizing: border-box;
    @include media(min-width $medium) {
      @include span-columns(3 of 12);
    }
  }
}