ul.team-profiles {
  li {
    list-style: none;
    @include clearfix;
    .member-profile-image {
      box-sizing: border-box;
      img {
        height: em(150);
      }
    }
    .member-profile-text {
      position: relative;
      box-sizing: border-box;
      .member-name {
        line-height: em(10);
      }
    }
    padding: em(20) 0;
    border-bottom: 1px solid #DEDEDE;
    &:last-child {
      border-bottom: none;
    }
  }
  @include media(min-width $large) {
    li {
      .member-profile-image {
        height: em(90);
        img {
          height: 100%;
        }
      }
      .member-profile-text {
        height: em(90);
        p {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    li:nth-child(odd) {
      @include direction-context(left-to-right){
        .member-profile-image {
          @include span-columns(3);
          img {
          }
        }
        .member-profile-text {
          @include span-columns(9);
          .member-name {
            text-align: right;
          }
          text-align: left;
        }
      }
    }
    li:nth-child(even) {
      @include direction-context(right-to-left){
        .member-profile-image {
          @include span-columns(3);
          img {
          }
        }
        .member-profile-text {
          .member-name {
            text-align: left;
          }
          @include span-columns(9);
          text-align: left;
        }
      }
    }
  }
}