ul.team-profiles {
  li {
    list-style: none;
    @include clearfix;
    .member-profile-image {
      box-sizing: border-box;
    }
    .member-profile-text {
      position: relative;
      box-sizing: border-box;
    }
    padding: em(20);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #DEDEDE;
    background: #FFF;
    margin-bottom: em(20);
    &:last-child {
      border-bottom: none;
    }
  }
  @include media(min-width $large) {
    li {
      .member-profile-image {
        height: em(150);
        img {
          height: 100%;
        }
      }
      .member-profile-text {
        height: em(150);
        padding-top: em(25);
      }
    }
    li:nth-child(odd) {
      @include direction-context(left-to-right){
        .member-profile-image {
          @include span-columns(3);
          img {
          }
        }
        .member-profile-text {
          @include span-columns(9);
          .member-name {
            text-align: left;
          }
          text-align: left;
        }
      }
    }
    li:nth-child(even) {
      @include direction-context(right-to-left){
        .member-profile-image {
          @include span-columns(3);
          img {
          }
        }
        .member-profile-text {
          .member-name {
            text-align: left;
          }
          @include span-columns(9);
          text-align: left;
        }
      }
    }
  }
}