{% assign category_posts = site.categories[page.category] %}
{% assign locale_posts = category_posts | where: 'language', page.language %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="archive wrapper container section">
        <div>
          <h1 class="title">Category Archive for {{ page.title }}</h1>
        </div>
        <div>
          <ul>
            {% for post in locale_posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
